In [ ]:
    INTRODUCTION TO NUMBERS

In [2]:
num = 1
num1  = 2
type(num)

int

In [3]:
x=0.1
print(x)

0.1

In [4]:
type(x) #decimal values in python

float

In [ ]:
INTRODUCTION TO LIST DATATYPES:
A list is a collection of items  declared in quotes

HOW DO YOU DEFINE THE LIST?
ITS DENOTED IN [] #Square brackets

In [5]:
students = ['kouser','fathima','khatija','zainab','anaya','amiera','zuha','mariam']
print(students)

['kouser', 'fathima', 'khatija', 'zainab', 'anaya', 'amiera', 'zuha', 'mariam']

In [6]:
print(students[1])

fathima

In [7]:
print(students[1].title())

Fathima

In [9]:
students.append('zohra') 
print(students)
 #NOTE: if you run the code of append more than once then it will add the name "zohra" that many times in the end

['kouser', 'fathima', 'khatija', 'zainab', 'anaya', 'amiera', 'zuha', 'mariam', 'zohra', 'zohra']

In [10]:
students.append('zuha') #adding one more name
print(students)

['kouser', 'fathima', 'khatija', 'zainab', 'anaya', 'amiera', 'zuha', 'mariam', 'zohra', 'zohra', 'zuha']

In [11]:
#requirement: add varun at 2nd index
students.insert(2,'varun')
print(students)

['kouser', 'fathima', 'varun', 'khatija', 'zainab', 'anaya', 'amiera', 'zuha', 'mariam', 'zohra', 'zohra', 'zuha']

In [12]:
#req" modify varun name to saba
students[2]='saba'
print(students)

['kouser', 'fathima', 'saba', 'khatija', 'zainab', 'anaya', 'amiera', 'zuha', 'mariam', 'zohra', 'zohra', 'zuha']

In [ ]:
#req: delete the name kouser from the above list
TWO METHODS FOR DELETE 
1.pop() ---- temporary delete
2.del ---- permanent delete

In [13]:
x=students.pop()  #last name will be deleted 
print(students)

['kouser', 'fathima', 'saba', 'khatija', 'zainab', 'anaya', 'amiera', 'zuha', 'mariam', 'zohra', 'zohra']

In [14]:
print(x)

zuha

In [15]:
a=students.pop(0) #first name will be deleted
print(students)

['fathima', 'saba', 'khatija', 'zainab', 'anaya', 'amiera', 'zuha', 'mariam', 'zohra', 'zohra']

In [23]:
students1=['varun','akash','dev']
print(students1)

['varun', 'akash', 'dev']

In [25]:
del students1[1]
print(students1)

['varun', 'dev']